<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>Crime & Social Sentiment Analysis</h1>
        {% block content %}
        {% endblock %}
    </body>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <map>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124297.52159098328!2d-76.97541156506942!3d39.24776065928044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c82690abe1981f%3A0x5a8ad4ff03e4d892!2sHoward%20County%2C%20MD!5e0!3m2!1sen!2sus!4v1653947725433!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </map>
    </body>
</html>
